#ujsag{
    float: center;
    width: 100vw;
    margin: auto;
}

.lapok {
    margin: auto;
    background: no-repeat;
    background-size: 100%;
}
.fedo {
    margin: auto;
    background: no-repeat;
    background-size: 100%;
}