#ujsag{
    float: center;
    width: 75vw;
    margin: auto;
}

.lapok {
    margin: auto;
    background: no-repeat;
    background-size: 100%;
}
.fedo {
    margin: auto;
    background: no-repeat;
    background-size: 100%;
    width: 722px;
    height: 1024px;
}